/* Overrides */
.card {
    width: 372px;
    float: left;
    margin: 10px;
}
.card-image {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.card-image img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

#side-panel {
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  margin: 25px 0;
  min-height: 500px;
}

#results-panel {
  border-radius: 5px;
  margin: 25px 0;
  min-height: 500px;
}

#random-panel {
  border-radius: 5px;
  margin: 25px 0;
  min-height: 500px;
}
#result {
  margin: 20px 0;
}
#result img {
  object-fit: cover;
  width: 100%;
}
#result-content {
  margin-top: 0px;
}
#side-panel {
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  margin: 25px 0;
  min-height: 500px;
}
#typed-result {
  text-transform: capitalize;
  font-style: italic;
}
li {
  list-style-type: disc !important;
  margin-left: 40px; 
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}